# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jorge\OneDrive\Ambiente de Trabalho\ISCTE\MEI_1stYear_2stSemester\ICO\ico-project\semantic-api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
